{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true
  },
  "plugins": [
    "prettier",
    "security"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:security/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 12
  },
  "rules": {
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-var": [
      "error"
    ],
    "one-var": [
      "off"
    ],
    "prettier/prettier": "error"
  }
}